*{
    margin: 0%;
    padding: 0%;
}
.smail_whole{
    display: flex;
    flex-direction: column;
    padding-left: 1vw;
    padding-top: 1vh;
    gap: 3vh;
    background-color: aliceblue;
}
.smail_cross{

   display: flex;
   justify-content: right;
   padding-right: 2vw;
   
   
}
.cancel_txt{
    border: 1px solid red;
    padding: 0 5px;
    border-radius: 5px;
    color: red;
    cursor: pointer;
}
.cancel_txt:active{
    transform: scale(1.1);
}
.smail_to > input{
    border: 1px solid green;
    width: 90vw;
    height: 5vh;
    border-radius: 5px;
    margin-left: 1vw;
    outline: none;
}
.smail_sub{
    width: 90vw;
    height: 5vh;
    border-radius: 5px;
    margin-left: 2.5vw;
    outline: none;
    border: 1px solid green;
}
.smail_cnt{
    border-radius: 5px;
    margin-left: 1.2vw;
    width: 90vw;
}
.smail_btm{
    border: 1px solid green;
    margin-top: 7vh;
    color: white;
    width: fit-content;
    width: 5vw;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 2vw;
    user-select: none;
}
.smail_btm:active{
    transform: scale(1.1);
}